<div class="nav-item dropdown" ngbDropdown>
  <button class="btn btn-outline-primary dropdown-toggle" ngbDropdownToggle>Start Process...</button>

  <ul class="dropdown-menu" ngbDropdownMenu aria-label="Startable Processes Models">
    @for (process of (processes$ | async); track process.url) {
      <li><a
        tasksExternalUrl
        class="dropdown-item"
        data-toggle="tooltip"
        data-placement="bottom"
        title="{{ process.description }}"
        [href]="process.url"
      >{{ process.name }}</a></li>
    }
  </ul>
</div>
